{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
   <div class="row">
       <div class="col"></div>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
       <div class="col-12 col-sm-6 my-auto text-center">
           <h2 class="display-4 home-font text-black">For all your</h2>
           <h2 class="display-4 home-font text-black">Vehicle Needs</h2>
           <a class="btn btn-outline-secondary mb-2" href="#" role="button">Shop Now</a>
           <a class="btn btn-outline-secondary mb-2" href="#" role="button">Learn More</a>
       </div>
       <div class="col-12 col-sm-6 my-auto d-none d-sm-block">
           <img src="{% static 'media/cds-logo.png' %}" class="img-fluid" alt="CDS Car Keys Logo">
       </div>
   </div>
</div>
{% endblock %}
