{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 my-auto text-center">
            <h2 class="display-4 home-font text-black home-header">For all your</h2>
            <h2 class="display-4 home-font text-black home-header">Vehicle Needs</h2>
            <a class="btn btn-outline-secondary mb-2" href="#" role="button">Shop Now</a>
            <a class="btn btn-outline-secondary mb-2" href="#" role="button">Learn More</a>
        </div>
        <div class="col-12 col-sm-6 my-auto d-none d-sm-block">
            <img src="{% static 'media/cds-logo.png' %}" class="img-fluid" alt="CDS Car Keys Logo">
        </div>
    </div>
</div>
<div class="container-fluid about-section">
    <div class="container">
        <div class="row">
            <div class="my-auto text-center">
                <h2 class="display-6 feature-header text-uppercase section-header m-3">About Us</h2>
                <div class="row">
                    <div class="col-12 col-md-6 p-3">
                        <p class="about-text">We are a Birmingham based business offering a fully mobile service around
                            the West Midlands. We provide spare car & van keys for most vehicles, along with attending
                            times
                            where all keys have been lost for a car/van or keys have been locked in a car/van.</p>
                    </div>
                    <div class="col-12 col-md-6 p-3">
                        <p class="about-text">We also fit Ghost II Immobilisers and trackers fully mobile around the
                            West
                            Midlands in areas such as Acocks Green, Hall Green, Solihull, Sheldon Sparkbrook, Sparkhill,
                            Dudley,
                            Wolverhampton, Coventry, Aston, Alum Rock, Small Heath and more!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid services-section">
    <div class="container">
        <div class="row">
            <div class="my-auto text-center">
                <h2 class="display-6 services-header text-uppercase m-3">Services</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'media/lost-key.jpeg' %}" class="img-fluid services-img"
                                    alt="Lost all Car/Van Keys Image">
                                <h5 class="card-title">Lost all Car/Van Keys</h5>
                                <p class="card-text">Have you lost all the keys to your vehicle? Contact us now for a
                                    price on entering your vehicle without any damage and making a new key!</p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-outline-secondary" href="#" role="button">Read More!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'media/spare-key.jpeg' %}" class="img-fluid services-img"
                                    alt="Spare Car/Van Keys Image">
                                <h5 class="card-title">Spare Car/Van Keys</h5>
                                <p class="card-text">Did you purchase your vehicle with only one key? Have you lost your
                                    primary key and now using a spare? Spare keys can be a life saver in the event you
                                    do lose your keys! At CDS Auto Services we can offer affordable spare keys for your
                                    car or van at competitive prices</p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-outline-secondary" href="#" role="button">Read More!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'media/autowatch-ghost.png' %}" class="img-fluid services-img"
                                    alt="Autowatch Ghost II">
                                <h5 class="card-title">Autowatch Ghost II</h5>
                                <p class="card-text">Vehicle theft is a major problem in the UK, The ghost system works
                                    by requiring a code to be entered via factory buttons before the engine will start!
                                    Supplied and fitted for only £499!</p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-outline-secondary" href="#" role="button">Read More!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'media/cds-logo.png' %}" class="img-fluid services-img"
                                    alt="CDS Car Keys Logo">
                                <h5 class="card-title">Locked out of your vehicle?</h5>
                                <p class="card-text">Have you locked your keys in your car or van? We can enter your
                                    vehicle without causing any damage! Contact us now - our average response time is
                                    under an hour!</p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-outline-secondary" href="#" role="button">Read More!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid need-us-section">
    <div class="container text-white pt-3 pb-3">
        <div class="row">
            <div class="col-md-3 pt-3 pb-3">
                <h5 class="services-heading">Here When You Need Us Most!</h5>
                <hr class="services-break-heading">
                <p></p>
            </div>
            <div class="col-md-5 p-3">
                <div class="services-icons">
                    <i class="fa-solid fa-key"></i>
                </div>
                <h6>Repairing Keys</h6>
                <hr class="services-break">
                <p>No matter how much care and protection you offer your car keys, over time they will wear, damage,
                    crack and often fall apart! However we are not out to make as much money out of you as possible. We
                    stock lots of repair parts and cases for keys to keep the costs down for you and give your key a new
                    life!</p>
            </div>
            <div class="col-md-4 p-3">
                <div class="services-icons">
                    <i class="fa-solid fa-laptop"></i>
                </div>
                <h6>Reprogramming</h6>
                <hr class="services-break">
                <p>In certain cases your key might require reprogramming. This is common in certain brands and cars! if
                    your key has stopped responding after car/key battery changes or the remote has stopped working, we
                    maybe able to reprogram your existing key to prevent the cost of a complete new key.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
            </div>
            <div class="col-md-5 pt-2 pb-2">
                <div class="services-icons">
                    <i class="fa-solid fa-car-side"></i>
                </div>
                <h6>Fully Mobile Service</h6>
                <hr class="services-break">
                <p>Our team is fully set up and prepared to assist you and your vehicle at the roadside! This prevents
                    expensive recovery costs as well as getting you back on the road faster!</p>
            </div>
            <div class="col-md-4 pt-2 pb-2">
                <div class="services-icons">
                    <i class="fa-solid fa-award"></i>
                </div>
                <h6>Warranty</h6>
                <hr class="services-break">
                <p>We understand that car keys are expensive, therefore we offer one of the most comprehensive
                    warranties seen by auto locksmiths in the UK! With your new replacement keys being fully protected
                    for 12 months against any non fault issues! (Please check out our warranty policy for details)</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}