html{
    height: 100%;
}
body{
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    height: calc(100vh - 100px);
}

.cds-nav-logo{
    height: 30px;
    width: 32px;
    align-items: center;
    margin-right: .5rem;
}

.nav-link{
    color: #000;
}

.home-font{
    text-transform: uppercase;
}

.home-header{
    font-weight: 600;
}

.header-container{
    padding-top: 250px;
}

.header-container-products{
    padding-top: 100px;
}

.about-section{
    margin-top: 250px;
    background-color: #404040;
}

.section-header{
    color: #EAEAEA;
    font-weight: 500;
}

.about-text{
    color: #EAEAEA;
}

.services-header{
    color: #000;
    font-weight: 500;
}

.services-img{
    max-inline-size: 100%;
    object-fit: cover;
    height: 75px;
    width: 75px;
    border-radius: 10%;
    margin-bottom: 1rem;
}

.card{
    height: 310px;
}

.card-footer{
    background-color: transparent;
    border-top: none;
}

.need-us-section{
    background-color: #404040;
}

.services-heading{
    font-size: 28px;
}

.services-break{
    width: 33%;
    border: 1px solid #EAEAEA;
}

.services-break-heading{
    width: 75%;
    border: 1px solid #EAEAEA;
}

.services-icons{
    font-size: 28px;
    padding-bottom: .5rem;
}

.footer-icons{
    font-size: 22px;
}

.footer-icons:hover{
    transform: scale(1.2);
    transition: .1s ease-in-out;
    color: #ff6e00;
    font-weight: 700;
}

.btt-button {
    height: 38px;
    width: 38px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btt-link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btt-button:hover .btt-link {
    background-color: black;
    border-radius: 50%;
}

.btt-link:hover i {
    color: white !important;
}

.btt-link i {
    color: black;
}

.heading-overlay{
    padding-top: 60px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.table-transparent {
    --bs-table-bg: transparent;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}




@media (max-width: 1399px){
    .card{
        height: 340px;
    }
}

@media (max-width: 1199px){
    .card{
        height: 350px;
    }
}

@media (max-width: 991px){
    .card{
        height: 400px;
    }
}

@media (max-width: 768px) {
    .header-container{
        padding-top: 300px;
    }
    .card{
        height: auto;
    }
}