html{
    height: 100%;
}
body{
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    height: calc(100vh - 100px);
}

.cds-nav-logo{
    height: 30px;
    width: 32px;
    align-items: center;
    margin-right: .5rem;
}

.nav-link{
    color: #000;
}

.home-font{
    text-transform: uppercase;
}

.header-container{
    padding-top: 250px;
}
