{% extends "base.html" %}
{% load static %}

{% block page_title %}
    <title>Services - CDS Car Keys</title>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Explore the services offered by YourSiteName.">
    <meta name="keywords" content="Services, YourSiteName">
    <meta name="robots" content="index, follow">
{% endblock %}

{% block page_header %}
    <div class="container header-overlay">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
        <h1 class="text-center services-header text-uppercase m-4">Services</h1>
        <div class="container-fluid services-section">
            <div class="container">
                <div class="row">
                    <div class="my-auto text-center">
                        <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                            {% for service in services %}
                                <div class="col-md-6 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                        <img src="{{ service.image.url }}" class="img-fluid services-img" alt="{{ service.title }}">
                                            <h5 class="card-title">{{ service.title }}</h5>
                                            <p class="card-text">{{ service.description }}</p>
                                        </div>
                                            <div class="card-footer text-center">
                                                {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_service' service.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_service' service.id %}">Delete</a>
                                                </small>
                                                {% endif %}
                                            </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
